/* Import font */
@font-face {
    font-family: 'Agrandir';
    src: url('Media/Agrandir-Regular.otf');
}

/* Color variables */
:root {
    --clr-darkblue: #023E8A;
    --clr-mediumblue: #0077B6;
    --clr-lightblue: #90E0EF;
    --clr-paleblue: #CAF0F8;
    --clr-grayblue: #CFE6FF;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Agrandir", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}