/* Import font */
@font-face {
    font-family: 'Agrandir';
    src: url('Media/Agrandir-Regular.otf');
}

/* Color variables */
:root {
    --clr-darkblue: #023E8A;
    --clr-mediumblue: #0077B6;
    --clr-lightblue: #90E0EF;
    --clr-paleblue: #CAF0F8;
    --clr-grayblue: #CFE6FF;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Agrandir", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}

/* Navbar Start */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-mediumblue);
    padding: 0 3rem 0 3rem;
    text-transform: uppercase;
}

nav img {
    padding-left: 2rem;
}

nav ul {
    list-style-type: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

nav ul li {
    position: relative;
}

nav ul a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

nav ul a i {
    margin-left: 0.5rem;
}

.menu-toggle-label {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.menu-toggle-label i {
    padding-left: 0.5rem;
}

#menu-toggle {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--clr-paleblue);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px;
    list-style-type: none;
    margin: 0;
    z-index: 1;
}

.dropdown-menu li {
    padding: 8px 12px;
}

.dropdown-menu li a {
    color: var(--clr-darkblue);
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: var(--clr-mediumblue);
    color: var(--clr-paleblue);
    border-radius: 3px;
}

#menu-toggle:checked+.menu-toggle-label+.dropdown-menu {
    display: block;
}

/* Navbar End */

/* Header Start */
header {
    background-color: var(--clr-mediumblue);
    display: flex;
    flex-direction: column;
    color: var(--clr-paleblue);
    text-align: center;
}

header h1 {
    font-size: 4rem;
    margin: 0;
}

header h1 p {
    font-size: 2rem;
    margin-top: 0;
}

header h1 span {
    color: var(--clr-darkblue);
}

header hr {
    color: var(--clr-paleblue);
    width: 80%;
}

#studieinformasjonwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#studieinformasjon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: var(--clr-mediumblue); */
    color: var(--clr-paleblue);
    max-width: 80rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
}

#studieinformasjon .info {
    width: 14rem;
    padding: 1rem 2rem 1rem 2rem;
}

#studieinformasjon .info h3 {
    padding: 0;
    margin: 0;
    font-weight: lighter;
    text-align: left;
}

#studieinformasjon .info h3:first-child {
    color: white;
    font-weight: bolder;
}

header a button {

    padding: 1rem 3rem 1rem 3rem;
    color: white;
    background-color: var(--clr-darkblue);
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3rem;
}

/* Header End */

/* Slogan One Start */
#slogan-one{
    background-color: var(--clr-grayblue);
}

#slogan-one p{
    margin: 0 6rem 0 6rem;
    text-align: center;
    padding: 2rem 4rem 2rem 4rem;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--clr-darkblue);
    font-weight: lighter;
}
/* Slogan One End */

/* Slogan Two Start */
#slogan-two {
    background-color: var(--clr-mediumblue); /* Change color to grayblue when the other sections have been added on */
    padding: 0 4rem 2rem 4rem;
    color: var(--clr-darkblue);   
}

#slogan-two h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content-flex {
    display: flex;
    align-items: center; 
    transition: all 0.3s;
}

.content-flex:hover{
    transform: translateX(20px);
}

.content-flex img {
    height: 120px;
    width: 90px;
    margin-right: 1rem; 
}

.text-content p {
    margin: 0.5rem 0;
    font-weight: lighter;
    text-decoration: none;
}

.text-content a {
    text-decoration: none;
    color: inherit;
}

#bold{
    font-weight: bolder;
}

/* Slogan Two End */
