/* CONTENTS LIST
- Family and roots
- Media Queries
- Navbar
- Header
- Content Divider (Innsikt i matematiske modeller)
- Dropdowns Information
- Content Divider (Faglig Leder)
- Andre studiemuligheter
- Studenthistorier
- Content Divider (Studiested)
- Footer */

/* Import font */
@font-face {
    font-family: 'Agrandir';
    src: url('Media/Agrandir-Regular.otf');
}

/* Color variables */
:root {
    --clr-darkblue: #023E8A;
    --clr-mediumblue: #0077B6;
    --clr-lightblue: #90E0EF;
    --clr-paleblue: #CAF0F8;
    --clr-grayblue: #CFE6FF;
}

/* https://www.youtube.com/watch?v=K24lUqcT0Ms, for the media queries */
/* Wide Screen (21:9 - 2560 x 1080)  */
@media (min-width: 2046px) {
    .programs{
        font-size: x-large;
    }
    html{
        font-size: x-large;
    }
}

/* Portrait Screen - Iphone 14 Pro Max (430 x 932) */
@media (max-width: 1151px) {
    html{
        font-size: x-small;
    }
}

@media (max-width: 429px) {
    html{
        font-size: xx-small;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Agrandir", sans-serif;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

/* Navbar Start */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-mediumblue);
    padding: 0 3rem 0 3rem;
    text-transform: uppercase;
}

nav img {
    padding-left: 2rem;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    align-items: center;
    gap: 1rem;
}

nav ul li {
    position: relative;
}

nav ul a{
    color: var(--clr-darkblue);
    text-decoration: none;
    display: flex;
    padding: 0.5rem 1rem;
}

#search-bar{
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 50px;
    background-color: var(--clr-paleblue);
    color: var(--clr-darkblue);
}

#search-bar input{
    width: 0;
    outline: none;
    border: none;
    background: transparent;
    color: var(--clr-darkblue);
    font-weight: bold;
}

#search-bar:hover input{
    width:auto;
}

.menu-toggle-label {
    color: var(--clr-paleblue);
    height: 20px;
    border-radius: 50px;
    font-size: smaller;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1rem; 
}

.menu-toggle-label i {
    padding-left: 0.5rem;
}

#menu-toggle {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--clr-paleblue);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px;
    list-style-type: none;
    margin-right: 1rem;
    margin-top: 10px;
    z-index: 1;
}

.dropdown-menu li {
    padding: 8px 12px;
}

.dropdown-menu li a {
    color: var(--clr-darkblue);
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: var(--clr-mediumblue);
    color: var(--clr-paleblue);
    border-radius: 3px;
}

#menu-toggle:checked+.menu-toggle-label+.dropdown-menu {
    display: block;
}
/* Navbar End */

/* Header Start */
header {
    background-color: var(--clr-mediumblue);
    display: flex;
    flex-direction: column;
    color: var(--clr-paleblue);
    text-align: center;
}

header h1 {
    font-size: 4rem;
    margin: 0;
}

header h2{
    font-size: 2rem;
    margin-top: 0;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5rem;
}

header h1 span {
    color:  var(--clr-lightblue);;
}

header hr {
    color: var(--clr-paleblue);
    width: 80%;
}

#studieinformasjonwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#studieinformasjon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--clr-paleblue);
    max-width: 72rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
}

#studieinformasjon .info {
    width: 14rem;
    padding: 1rem 2rem 1rem 2rem;
}

#studieinformasjon .info h3 {
    padding: 0;
    margin: 0;
    font-weight: lighter;
    text-align: left;
    font-weight: bolder;
}

#studieinformasjon .info h3:first-child {
    color: var(--clr-lightblue);
}

.button-link {
    display: inline-block;
    max-width: 8rem;
    margin: auto;
    padding: 1rem 3rem;
    color: var(--clr-paleblue);
    background-color: var(--clr-darkblue);
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-decoration: none;
    transition: all 0.5s;
}

.button-link:hover {
    transform: translateY(-10px);
    color: var(--clr-darkblue);
    background: var(--clr-paleblue);
}
/* Header End */

/* Content divider (Innsikt) Start */
#content-divider-innsikt{
    background-color: var(--clr-grayblue);
    width: 100%;
}

#content-divider-innsikt p{
    margin: 0 6rem 0 6rem;
    text-align: center;
    padding: 2rem 4rem 2rem 4rem;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--clr-darkblue);
    font-weight: lighter;
}
/* Content divider (Innsikt) End */

/* Dropdown Information section Start */
#dropdowns-container{
    position: relative;
}

#vertical-text{
    text-align: center;
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 8rem;
    height: 60%;
    text-transform: uppercase;
    color: var(--clr-mediumblue);
    writing-mode: vertical-rl;
}

/* Section for each dropdown*/
.dropdowns{
    height: auto;
    flex-direction: row;
    width: 100%;
    background-color: var(--clr-paleblue);
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: lighter;
}

/* Styling for the plus and minus icons */
.dropdowns svg{
    fill: var(--clr-darkblue);
}

/* Styling for p and ul elements inside a section */
.dropdowns p, .dropdowns ul{
    padding: 0 0 10px 40px;
    color: var(--clr-mediumblue);
    line-height: 1.5rem;
    font-size: 1rem;
}

/* Open and close buttons */
.open-sidebar-button, .close-sidebar-button{
    padding: 1rem 0 2rem 5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--clr-mediumblue);
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Information containers */
.opptakskrav-container, 
.hvordan-undervisningen-container, 
.hva-laerer-du-container, 
.studiets-oppbygning-container,
.hva-koster-det-container, 
.hva-kan-du-jobbe-som-container,
.utveksling-container, 
.videre-studiemuligheter-container, 
.statiske-metoder-info, 
.vitenskapelige-beregninger-info, 
.matematikk-fysikk-info{
    height: auto;
    width: 60%;
    padding: 1rem 0 2rem 5rem;
    display: none;
    background-color: var(--clr-paleblue);
}

/* Aligns the close and open button so that it looks like they are on top of each other */
.opptakskrav-container .close-sidebar-button,
.hvordan-undervisningen-container .close-sidebar-button,
.hva-laerer-du-container .close-sidebar-button,
.studiets-oppbygning-container .close-sidebar-button,
.hva-koster-det-container .close-sidebar-button,
.hva-kan-du-jobbe-som-container .close-sidebar-button,
.utveksling-container .close-sidebar-button,
.videre-studiemuligheter-container .close-sidebar-button,
.statiske-metoder-info .close-sidebar-button,
.vitenskapelige-beregninger-info .close-sidebar-button{
    padding: 0;
}

/* Open information container when checkbox is checked */
#checkbox-opptakskrav:checked ~ .opptakskrav-container,
#hva-laerer-checkbox:checked ~ .hva-laerer-du-container, 
#checkbox-studiets-oppbygning:checked ~ .studiets-oppbygning-container, 
#checkbox-hvordan-undervisningen:checked ~ .hvordan-undervisningen-container, 
#checkbox-hva-koster-det:checked ~ .hva-koster-det-container, 
#checkbox-hva-jobbe-som:checked ~ .hva-kan-du-jobbe-som-container, 
#checkbox-utveksling:checked ~ .utveksling-container, 
#checkbox-videre-studiemuligheter:checked ~ .videre-studiemuligheter-container, 
#statiske-metoder:checked ~ .statiske-metoder-info, 
#vitenskapelige-beregninger:checked ~ .vitenskapelige-beregninger-info, 
#matematikk-fysikk:checked ~ .matematikk-fysikk-info{
    display: block;
}

/* Removes the open button, so that it looks like it changes to the close button */
#checkbox-opptakskrav:checked ~ .open-sidebar-button, 
#hva-laerer-checkbox:checked ~ .open-sidebar-button, 
#checkbox-studiets-oppbygning:checked ~ .open-sidebar-button, 
#checkbox-hvordan-undervisningen:checked ~ .open-sidebar-button, 
#checkbox-hva-koster-det:checked ~ .open-sidebar-button, 
#checkbox-hva-jobbe-som:checked ~ .open-sidebar-button, 
#checkbox-utveksling:checked ~ .open-sidebar-button, 
#checkbox-videre-studiemuligheter:checked ~ .open-sidebar-button, 
#statiske-metoder:checked ~ .open-sidebar-button, 
#vitenskapelige-beregninger:checked ~ .open-sidebar-button, 
#matematikk-fysikk:checked ~ .open-sidebar-button{
    display: none; 
}

/* Ensures each .nested-dropdown displays independently */
.hva-laerer-du-container .nested-dropdown .statiske-metoder-info,
.hva-laerer-du-container .nested-dropdown .vitenskapelige-beregninger-info,
.hva-laerer-du-container .nested-dropdown .matematikk-fysikk-info {
    display: none;
}

#dropdowns-container a{
    color: var(--clr-darkblue);
    text-decoration: none;
    font-weight: bold;   
}

#dropdowns-container a:hover{
    text-decoration-line: underline;
}

#videre-studiemuligheter-info h3, #videre-studiemulighter-info p{
    padding-left: 40px;
    margin-bottom: 0;
    font-size: 1.5rem;
}

#videre-studiemuligheter-info p{
    margin-top: 5px;
}

/* Tables */
table {
    background-color: var(--clr-mediumblue);
    padding: 2rem;
    border-radius: 10px;
    color: var(--clr-paleblue);
    text-align: left;
    font-size: 0.8rem;
}

table h2 {
    text-align: left;
}

table td:last-child {
    text-align: right;
}
/* Dropdown Information section end */

/* Content divider (Faglig Leder) Start */
#faglig-leder {
    background-color: var(--clr-grayblue);
    padding: 0 4rem 2rem 4rem;
    color: var(--clr-darkblue);   
}

#faglig-leder h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.faglig-leder-flex {
    display: flex;
    align-items: center; 
    transition: all 0.3s;
}

.faglig-leder-flex:hover{
    transform: translateX(20px);
}

.faglig-leder-flex img {
    height: 120px;
    width: 90px;
    margin-right: 1rem; 
}

.faglig-leder-flex a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

#faglig-leder-info{
    display: flex;
    flex-direction: column;
}

.faglig-leder-flex p {
    margin: 0.2rem 0;
    font-weight: lighter;
    text-decoration: none;
}

/* Content divider (Faglig Leder) End */

/* Studenthistorier Start */
#studenthistorier {
    padding: 2rem 4rem 5rem 4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-paleblue);
    color: var(--clr-darkblue);
    text-transform: uppercase;
}

#studenthistorier-title{
    font-weight: lighter;
    font-size: 2rem;
}

h1 a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--clr-darkblue);
}

#studenthistorier p {
    font-size: 1.5rem;
    text-transform: initial;
}

#studenthistorier p a, #studenthistorier h2 a{
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
    color:var(--clr-mediumblue);
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

#card-container a:hover, #card-container p a:hover, #card-container h2 a:hover{
    text-decoration-line: underline;
}

.card {
    max-width: 39rem;
    background-color: var(--clr-grayblue);
    border-radius: 50px;
    margin: 0 1rem 1rem 0;
}

.card:first-child {
    padding: 1rem 1rem 0 1rem;
}

.card img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.card img:hover {
    transform: scale(1.05);
}

#button-studenthistorier{
    max-width: 15rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

#button-studenthistorier:hover{
    background-color: var(--clr-lightblue);
    color: var(--clr-darkblue);

}
/* Studenthistorier End */

/* Andre studiemuligheter start */
#studier {
   align-items: center;
   background-color: var(--clr-mediumblue);
   color: var(--clr-paleblue);
}

#studier h1{
   margin: 0;
   padding: 3rem;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 20px;
   font-size: 1.8rem;
}

#studier h2{
    font-size: 1.17em;
}

.programs{
   display: flex;
   flex-direction: row;
   flex: 1 1 0;
   text-align: center;
   line-height: 0.3rem;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0 4rem 4rem 4rem;
   gap: calc(15% - 3rem);
   row-gap: 4rem;
}

.programs a{
   text-decoration: none;
   color: inherit;
   width: auto;
   height: auto;
   background-color: var(--clr-darkblue);
   border-radius: 5rem;
   padding: 0 4rem 0 4rem;
   color: whitesmoke;
   transition: all 0.3s;
}

.programs a:hover{
    color: var(--clr-darkblue);
    background-color: var(--clr-paleblue);
    transform: translateY(-10px);
}

.programs p{
   font-weight: lighter;
}


/* Andre studiemuligheter start */

/* Content Divider (Studiested) Start */
#content-divider-studiested{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--clr-mediumblue);
    color: var(--clr-lightblue);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 0.8rem;
}

#content-divider-studiested a{
    text-decoration: none;
    color: var(--clr-lightblue);
}

#content-divider-studiested a:hover{
    text-decoration-line: underline;
}

#studiested{
    font-weight: lighter;
}
/* Content Divider (studiested) Slutt */

/* Footer start */
footer{
    background-color: var(--clr-darkblue);
}

.Overskrift-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem 2rem 10rem;
    max-width: 80%;
}

#Fmain-overskrift{
    text-align: center;
    position: relative;
    color: var(--clr-lightblue);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    padding: 2rem;
}

/* The line underneath Fmain-overskrift */
#Fmain-overskrift:after{
    content: "";
    position: absolute;
    left: 15%;
    right: 15%;
    bottom:0;
    height: 2px;
    background:var(--clr-grayblue);
}

/* Abonner "button" */
#Abonner{
    border-radius: 3rem;
    border: 5px solid var(--clr-paleblue);
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--clr-paleblue);
    font-size: 700;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.Sosiale-medier{
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

.Sosiale-medier a{
    text-decoration: none;
    color:var(--clr-paleblue);
    text-transform: uppercase;
    margin: 0 10rem 0 10rem;
}

.kontakt-linker{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90%;
    padding: 2rem 10rem 2rem 10rem;
}

.Kontakt-oss{
    flex: 1;
    text-align: left;
    line-height: 2px;
    color: var(--clr-paleblue);
    text-transform: uppercase;
    margin-top: 4rem;
}

.Kontakt-oss :first-child{
    font-weight: bold;
    color: var(--clr-lightblue);
}

.Kontakt-oss :last-child{
    font-weight: bold;
    color:var(--clr-lightblue);
    text-decoration: none;
}

.Linker{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Linker a{
    flex: 2;
    text-align: right;
    text-decoration: none;
    color: var(--clr-paleblue);
    text-transform: uppercase; 
}

.Linker a:hover, .Sosiale-medier a:hover, .Kontakt-oss a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
/* Footer end */

#accessibility-bcolor{
    background-color: var(--clr-darkblue);
}

/* Accessibility Start */

.a-header{
    text-transform: uppercase;
}


.collapsible-large{
    max-width: 1000px;
    overflow: hidden;
    font-weight:500;
}
.collapsible-large input{
    display: none;
}

.collapsible-large label{
    position: relative;
    font-weight: 600;
    background: var(--clr-mediumblue);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding:15px 0;
    border-radius:4px;
    z-index: 1;
    text-align: center;
}

.collapsible-large label:after{
    content:"";
    position: absolute;
    right: 15px;
    top:15px;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}


.collapsible-large input:checked + label:after{
    transform: rotate(90deg);
}
.collapseble-text-large{
    max-height: 1px;
    overflow: hidden;
    border-radius:4px;
    line-height:1.4 ;
    position: relative;
    top:-100%;
    opacity:0.5;
    transition: all 1s ease;
    color: var(--clr-paleblue);
}

.collapsible-large input:checked ~ .collapseble-text-large{
    max-height: 1600px;
    padding-bottom:25px;
    background: var(--clr-mediumblue);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top:0;
    margin-bottom: 100px;
}

.collapseble-text-large p{
    padding-left:15px;
    padding-right:15px ;
}


/*kan brukes for drop down meny for tekst*/
.wrapper{
    display: flex;
    padding-top:50px;
    justify-content: center;
}

.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight:500;
}

.collapsible input{
    display: none;
}
.collapsible label{
    position: relative;
    font-weight: 600;
    background: var(--clr-mediumblue);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding:15px 0;
    border-radius:4px;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--clr-paleblue);
}

.collapsible label:after{
    content:"";
    position: absolute;
    right: 15px;
    top:15px;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}

.collapsible input:checked + label:after{
    transform: rotate(90deg);
}

.collapseble-text{
    max-height: 1px;
    overflow: hidden;
    border-radius:4px;
    line-height:1.4 ;
    position: relative;
    top:-100%;
    opacity:0.5;
    transition: all 0.3s ease;
    color: var(--clr-paleblue);
}

.collapsible input:checked ~ .collapseble-text{
    max-height: 300px;
    padding-bottom:25px;
    background: var(--clr-mediumblue);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top:0;
}

.collapseble-text p{
    padding-left:15px;
    padding-right:15px;
}


/*dropdown meny end*/
/*accessebility end*/

/* Activity page Start */
.aktivitet-side {
    background-color: rgba(4, 110, 27, 0.1)
}
@media (max-width: 600px) {
    .aktivitet-liste {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 601px) {
    .aktivitet-liste {
        grid-template-columns: 1fr 1fr;
    }
}
.aktivitet-liste {
    display: grid;
    column-gap: 80px;
    row-gap: 50px;
    
}

.aktivitet {
    display: grid;

}
#aktiv-bilde {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.aktiv-text {
    background-color: rgb(158, 207, 158);
    /*padding: 10px;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    
}


.side {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

  }

.studier {
    height: 100vh;
}

.studier h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.8em;
    color: #1b7b60;
}

.studier {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003366;
}

.flex-row {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;  
    gap: 50px;
    justify-content: center;
    max-width: 1000px; 
    padding: 20px;
}
.aktiv-nav {
    margin-bottom: 20px;
}
.flex-row h2 {
    margin-bottom: 0px;
}

.flex-container, .flex-container2 {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    width: 100%; 
    color: aliceblue;
}

.container1, .container2 {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px; 
    height: 150px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1b7b60;
    background-color: #e0edec;
    transition: background-color 0.25s, 
    color 0.25s;
}

.container1:hover, .container2:hover {
    background-color: #1b7b60;
    cursor: pointer;
    color: #e0edec;
    opacity: 0.8;
}
.container1:active, .container2:active {
    opacity: 0.5;
}

#studier {
    padding: 40px 0;
    text-align: center;
}

#studier h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #003366;
}

/* Flex container for the program links */
.programs {
    display: flex;
    flex-wrap: wrap; /* Enables wrapping of boxes to the next row */
    gap: 20px; /* Space between the boxes */
    justify-content: center; /* Centers the rows of boxes */
    width: 100%; /* Make sure it uses full width */
    max-width: 900px; /* Limit width to fit 4 boxes per row */
    margin: 0 auto; /* Centers the container within the section */
    padding: 0 20px; /* Adds padding to avoid touching screen edges */
}

/* Individual program links styled as boxes */
.programs a {
    background-color: rgb(0, 102, 51);
    color: white;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: calc(25% - 20px); /* Ensure 4 boxes per row, considering the gap */
    height: 150px; /* Fixed height for uniform size */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Include padding and borders in size */
}

/* Hover effect for the boxes */
.programs a:hover {
    background-color: #e0e0e0;
    color: #336699;
    cursor: pointer;
}


/*activity page end*/

